---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
// import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
// import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const metadata = {
  title: 'AstroWind — Free template for creating websites with Astro + Tailwind CSS',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'Board the Rocketship',
        href: 'https://github.com/onwidget/astrowind',
        target: '_blank',
        icon: 'tabler:rocket',
      },
      { text: 'Learn more', href: '#features' },
    ]}
    image={{ src: '~/assets/images/hero-image.png', alt: 'AstroWind Hero Image' }}
  >
  <Fragment slot="title">
    Imagine Your Job Search With <span class="text-accent dark:text-white highlight">Community & Support</span>
</Fragment>

<Fragment slot="subtitle">
  <span class="hidden sm:inline">
      <span class="font-semibold">ClearCareer is a vibrant community of job seekers</span> offering support, accountability, weekly coaching calls, and more to accelerate your job search. Turn relentless rejections into triumphs with ClearCareer!

  </span>
  <span class="block mb-1 sm:hidden font-bold text-blue-600">
    Turn relentless rejections into triumphs with ClearCareer!

  </span>
</Fragment>

  </Hero>

  <!-- Note Widget ******************* -->

  <!-- <Note /> -->

<!-- Features Widget *************** -->

<Features
    id="features"
    tagline="Features"
    title="What You Get with ClearCareer"
    subtitle="Join our comprehensive and supportive community to transform your job search journey and achieve your career goals."
    items={[
      {
        title: 'Expert Guidance',
        description:
          'Personalized advice to refine strategies, bounce ideas, and get feedback, easing decision-making.',
        icon: 'tabler:clipboard-check',
      },
      {
        title: 'Supportive Community',
        description:
          'Engage with like-minded professionals who share your ambitions and support your journey.',
        icon: 'tabler:users',
      },
      {
        title: 'Flexible Approach',
        description:
          'Concrete steps and the flexibility to progress at your own pace for a balanced experience.',
        icon: 'tabler:adjustments-horizontal',
      },
      {
        title: 'Practical Tools',
        description:
          'Leverage cutting-edge AI tools and practical insights to optimize your job search.',
        icon: 'tabler:tools',
      },
      {
        title: 'Real Results',
        description:
          'Experience significant career advancements and tangible outcomes from actionable guidance.',
        icon: 'tabler:award',
      },
      {
        title: 'Continuous Learning',
        description:
          'Stay updated on the latest trends and best practices to remain competitive in the job market.',
        icon: 'tabler:book',
      },
    ]}
/>

<!-- Content Widget **************** -->

<Content
    isReversed
    tagline="Inside ClearCareer"
    title="ClearCareer’s Blueprint: Transforming Job Searches!"
    items={[
      {
        title: 'Personalized Coaching',
        description:
          'Receive tailored advice and strategies that help you navigate your job search with confidence.',
      },
      {
        title: 'Supportive Community',
        description:
          'Engage with a network of professionals who share your ambitions and provide mutual support.',
      },
      {
        title: 'Proven Techniques',
        description:
          'Implement effective job search strategies that have helped countless members achieve their career goals.',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Community Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Building on modern foundations</h3>
      Gain a competitive advantage by incorporating industry-leading job search practices.
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isAfterContent
    items={[
      {
        title: 'Customizable Career Plans',
        description: `Tailor your job search plan to match your unique career goals and life circumstances, ensuring a personalized approach.`,
      },
      {
        title: 'Diverse Learning Materials',
        description:
          'Access a variety of resources, from video tutorials to practical guides, to enhance your job search skills.',
      },
      {
        title: 'Responsive Support',
        description:
          "Get timely support and advice from our community and coaches, ensuring you stay on track and motivated.",
      },
      {
        title: 'Effective Networking',
        description:
          'Leverage our community to build meaningful professional connections that can lead to job opportunities.',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1600132806370-bf17e65e942f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2194&q=80',
      alt: 'Career Planning Image',
    }}
  >
    <Fragment slot="content">Ensure your job search truly represents you.</Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isReversed
    isAfterContent
    items={[
      {
        title: 'Enhanced Job Search',
        description:
          'Captivate employers with standout applications, intuitive strategies, and personalized coaching, ensuring longer consideration.',
      },
      {
        title: 'Continuous Improvement',
        description:
          'Keep your job search strategies aligned with the latest trends and best practices through regular updates and coaching.',
      },
      {
        title: 'Efficiency and Effectiveness',
        description:
          'Optimize your job search process and achieve results faster with ClearCareer’s proven methodologies.',
      },
      {
        title: 'Community Support',
        description: `Join the ClearCareer community for insights, resources, and assistance, ensuring you’re never alone in your job search journey.`,
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1611462985358-60d3498e0364?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Growth Image',
    }}
  >
    <Fragment slot="content">Designed to foster growth and success.</Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

<!-- Steps Widget ****************** -->

<Steps
    title="Transform Your Job Search with ClearCareer"
    items={[
      {
        title: 'Step 1: <span class="font-medium">Engage in Weekly Group Calls</span>',
        description:
          "Actively participate in our weekly group Q&A calls. Break through roadblocks, ask questions, and get real-time feedback to refine your job search strategy.",
        icon: 'tabler:video',
      },
      {
        title: 'Step 2: <span class="font-medium">Work Smarter with Tools, Templates & AI</span>',
        description:
          "Use the latest productivity tools, and 500+ hours of precisely-engineered AI prompts, and proven templates to save 10+ hours a week in your job search.",
        icon: 'tabler:tool',
      },
      {
        title: 'Step 3: <span class="font-medium">Set Weekly Goals and Stay Accountable</span>',
        description:
          "Set career goals and leverage our community for accountability. Track progress and stay motivated with support and encouragement from fellow members.",
        icon: 'tabler:target',
      },
      {
        title: 'Land That Interview!',
        icon: 'tabler:check',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1616198814651-e71f960c3180?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=987&q=80',
      alt: 'Steps image',
    }}
  />

<!-- Features2 Widget ************** -->

<Features2
    title="Top AI Prompts & Templates"
    subtitle="Essential tools for streamlining your job search and enhancing productivity"
    tagline="RESOURCES"
    items={[
      {
        title: 'Quantified Achievements',
        description: 'Jog your memory by generating a list of achievements based on your job title and industry, boosting resume impact.',
        icon: 'flat-color-icons:approval',
      },
      {
        title: 'Instant Salary Research',
        description: 'Instantly gather detailed salary data by location and company size, helping you negotiate better.',
        icon: 'flat-color-icons:currency-exchange',
      },
      {
        title: 'Tech Events Calendar',
        description: 'Find and keep track of all upcoming events in your field, ensuring you never miss networking opportunities.',
        icon: 'flat-color-icons:calendar',
      },
      {
        title: 'Networking Scripts',
        description: '18 ways to add value when networking. Effective networking has led to 200+ connections for our members.',
        icon: 'flat-color-icons:voice-presentation',
      },
      {
        title: 'Email Templates Galore',
        description: 'Comprehensive email templates for job seekers, including hiring manager emails and silver-bullet thank you emails.',
        icon: 'flat-color-icons:document',
      },
      {
        title: 'Target Company List',
        description: 'Quickly generate a list of companies that align with your career goals, saving time on research.',
        icon: 'flat-color-icons:template',
      },
      {
        title: 'Instant Company Research',
        description: 'Get a lightning-fast summary of key company details, saving time on research and preparation.',
        icon: 'flat-color-icons:database',
      },
      {
        title: 'LinkedIn Profile Optimization',
        description: 'Optimize your LinkedIn profile with AI-generated headlines and a compelling “About Me” summary to increase profile visits and job opportunities.',
        icon: 'flat-color-icons:gallery',
      },
 
      {
        title: 'Custom Interview Questions',
        description: 'Get a list of industry-specific interview questions, helping you win your next interview confidently.',
        icon: 'flat-color-icons:document',
      },
      {
        title: 'Counter Objections',
        description: 'Pinpoint potential employer concerns and develop strategies to counter them, improving your candidacy.',
        icon: 'flat-color-icons:high-priority',
      },
      {
        title: 'Must-Have Tools',
        description: 'A curated list of the top job search tools for job seekers in 2024. Equip yourself with the best tools for job hunting success.',
        icon: 'flat-color-icons:support',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2>

  <!-- HighlightedPosts Widget ******* -->

  <!-- <BlogLatestPosts
    title="Find out more content in our Blog"
    information={`The blog is used to display AstroWind documentation.
                        Each new article will be an important step that you will need to know to be an expert in creating a website using Astro + Tailwind CSS.
                        Astro is a very interesting technology. Thanks.
                `}
  /> -->

  <!-- FAQs Widget ******************* -->

  <FAQs
    title="Frequently Asked Questions"
    subtitle="Explore these common questions to learn more about how ClearCareer Group Coaching can transform your job search journey."
    tagline="FAQs"
    classes={{ container: 'max-w-6xl' }}
    items={[
      {
        title: 'What is ClearCareer Group Coaching?',
        description:
          'ClearCareer Group Coaching is a supportive and strategic community designed to help job seekers elevate their careers through personalized coaching, practical tools, and a network of like-minded professionals.',
      },
      {
        title: 'How much does the program cost?',
        description:
          'The program costs $49 per month, which includes access to all online content, weekly group calls, community support, referrals, networking opportunities, and accountability features.',
      },
      {
        title: 'What happens in the weekly group calls?',
        description:
          'Weekly 1-hour sessions cover resume building, interview prep, salary negotiation, and networking strategies. These sessions also provide a platform for members to share their experiences, ask questions, and receive feedback.',
      },
      {
        title: 'How does the online community work?',
        description:
          'The online community is a private, supportive space where members can share wins, tips, tools, and resources, ask questions, and connect with other job seekers. It\'s active and encouraging, providing ongoing support throughout your job search.',
      },
      {
        title: 'What kind of results can I expect?',
        description:
          'Members have reported significant career advancements, including landing job offers, negotiating higher salaries, and successful career transitions. The personalized guidance and community support help members achieve tangible results.',
      },
      {
        title: 'Can I cancel my membership?',
        description:
          'Yes, you can cancel your membership at any time. There are no long-term commitments, and you can manage your subscription directly through your account settings.',
      },
    ]}
/>

  <!-- Stats Widget ****************** -->

<Stats
stats={[
  { title: 'Avg. Salary Gain', amount: '$10K' },
  { title: 'Top Salary Gain', amount: '$30K' },
  { title: 'Alum', amount: '100+' },
  // { title: 'Avg. Time to Interview', amount: '3 weeks' },
]}
/>
  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Board the Rocketship',
        href: 'https://github.com/onwidget/astrowind',
        target: '_blank',
        icon: 'tabler:rocket',
      },
    ]}
  >
    <Fragment slot="title">
        Join the ClearCareer Community Today<br class="block sm:hidden" /><span class="sm:whitespace-nowrap"></span>
    </Fragment>

    <Fragment slot="subtitle">
        Shatter the cycle of rejections. Reclaim your self-worth with ClearCareer! <br class="hidden md:inline" />Don't wait any longer to transform your career!
    </Fragment>
</Layout>
