---
import Layout from '~/layouts/PageLayout.astro';
import Prices from '~/components/widgets/Pricing.astro';
import Hero from '~/components/widgets/Hero.astro';
// import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
// import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
// import Brands from '~/components/widgets/Brands.astro';


const metadata = {
  title: 'ClearCareer — Job Search Coaching & Accountability',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'Ignite my job search',
        href: '#pricing',
        icon: 'tabler:rocket',
      },
      { text: 'Learn more', href: '#features' },
    ]}
    image={{ src: '~/assets/images/hero-image4.jpg', alt: 'ClearCareer Community Image' }}
  >
  <Fragment slot="title">
    The support community for job seekers <span class="text-accent dark:text-white highlight">that feel stuck</span>
</Fragment>

<Fragment slot="subtitle">
  <span class="hidden sm:inline">
      <span class="font-semibold">ClearCareer</span> is a supportive job search community and group coaching program that provides all the accountability, guidance, and tools to help you design and land your next role.

  </span>
  <span class="block mb-1 sm:hidden font-bold text-blue-600">
    Support, accountability, and resources to help you land the job you want

  </span>
</Fragment>

  </Hero>

  <!-- Note Widget ******************* -->

  <!-- <Note /> -->


  <!-- Brands Widget ****************** -->

  <!-- <Brands
    title="Partnerships & Collaborations"
    subtitle="At Astrowind, we believe in the power of collaboration to drive innovation and create exceptional experiences."
    icons={[]}
    images={[
      {
        src: 'https://cdn.pixabay.com/photo/2015/05/26/09/37/paypal-784404_1280.png',
        alt: 'Paypal',
      },
      {
        src: 'https://cdn.pixabay.com/photo/2021/12/06/13/48/visa-6850402_1280.png',
        alt: 'Visa',
      },
      {
        src: 'https://cdn.pixabay.com/photo/2013/10/01/10/29/ebay-189064_1280.png',
        alt: 'Ebay',
      },

      {
        src: 'https://cdn.pixabay.com/photo/2015/04/13/17/45/icon-720944_1280.png',
        alt: 'Youtube',
      },
      {
        src: 'https://cdn.pixabay.com/photo/2013/02/12/09/07/microsoft-80658_1280.png',
        alt: 'Microsoft',
      },
      {
        src: 'https://cdn.pixabay.com/photo/2015/04/23/17/41/node-js-736399_1280.png',
        alt: 'Node JS',
      },
      {
        src: 'https://cdn.pixabay.com/photo/2015/10/31/12/54/google-1015751_1280.png',
        alt: 'Google',
      },
      {
        src: 'https://cdn.pixabay.com/photo/2021/12/06/13/45/meta-6850393_1280.png',
        alt: 'Meta',
      },
      {
        src: 'https://cdn.pixabay.com/photo/2013/01/29/22/53/yahoo-76684_1280.png',
        alt: 'Yahoo',
      },
    ]}
    </Brands> -->
  

<!-- Features Widget *************** -->

<Features
    id="features"
    tagline="Features"
    title="What You Get with ClearCareer"
    subtitle="Join our comprehensive and supportive community to transform your job search journey and achieve your career goals."
    items={[
      {
        title: 'Weekly Group Coaching & Training',
        description:
          'Participate in weekly sessions to receive guidance, refine your strategies, and stay on track with your job search.',
        icon: 'tabler:clipboard-check',
      },
      {
        title: 'Templates, Scripts, and Resources',
        description:
          'Access a library of templates, scripts, and resources designed to simplify and enhance your job search process.',
        icon: 'tabler:tools',
      },
      {
        title: 'Community Support & Accountability',
        description:
          'Engage with a community of like-minded professionals for support, advice, and accountability to keep you going.',
        icon: 'tabler:users',
      },
      {
        title: 'Confidence, Motivation & Real Results',
        description:
          'Stay motivated by sharing wins, challenges, resources and more and see real results, from landing interviews to securing job offers.',
        icon: 'tabler:award',
      },
    ]}
/>

<!-- Content Widget **************** -->

<!-- <Content
    isReversed
    tagline="Inside ClearCareer"
    title="ClearCareer’s Blueprint: Transforming Job Searches!"
    items={[
      {
        title: 'Personalized Coaching',
        description:
          'Receive tailored advice and strategies that help you navigate your job search with confidence.',
      },
      {
        title: 'Supportive Community',
        description:
          'Engage with a network of professionals who share your ambitions and provide mutual support.',
      },
      {
        title: 'Proven Techniques',
        description:
          'Implement effective job search strategies that have helped countless members achieve their career goals.',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Community Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Building on modern foundations</h3>
      Gain a competitive advantage by incorporating industry-leading job search practices.
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  
    <Fragment slot="content">Ensure your job search truly represents you.</Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content> -->

  
    <!-- <Fragment slot="content">Designed to foster growth and success.</Fragment> -->

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

<!-- Steps Widget ****************** -->

<Steps
    title="A Catapult for Your Job Search"
    items={[
      {
        title: 'Step 1: <span class="font-medium">Engage in Weekly Group Calls</span>',
        description:
          "Actively participate in our weekly group Q&A calls. Break through roadblocks, ask questions, and get real-time feedback to refine your job search strategy.",
        icon: 'tabler:video',
      },
      {
        title: 'Step 2: <span class="font-medium">Accelerate Your Progress</span>',
        description:
          "Use the latest productivity tools, and 500+ hours of precisely-engineered AI prompts, and proven templates to save 10+ hours a week in your job search.",
        icon: 'tabler:tool',
      },
      {
        title: 'Step 3: <span class="font-medium">Set Weekly Goals and Stay Accountable</span>',
        description:
          "Set career goals and leverage our community for accountability. Track progress and stay motivated with support and encouragement from fellow members.",
        icon: 'tabler:target',
      },
      {
        title: 'Land That Interview!',
        icon: 'tabler:check',
      },
    ]}
    image={{
      src: '~/assets/images/success-wins.png',
      alt: 'Steps image',
    }}
    
  />

<!-- Features2 Widget ************** -->

<Features2
    title="AI Prompts, Tools, & Templates "
    subtitle="It's like Batman's Utility Belt - but for your job search"
    tagline="RESOURCES"
    items={[
      {
        title: 'Quantify Your Achievements',
        description: 'Jog your memory by generating a list of achievements based on your job title and industry, boosting resume impact.',
        icon: 'flat-color-icons:approval',
      },
      {
        title: 'Instantly Research Salaries',
        description: 'Instantly gather detailed salary data by location and company size, helping you negotiate better.',
        icon: 'flat-color-icons:currency-exchange',
      },
      {
        title: 'Discover Industry Events',
        description: 'Find and keep track of all upcoming events in your field, ensuring you never miss networking opportunities.',
        icon: 'flat-color-icons:calendar',
      },
      {
        title: 'Improve Your Networking',
        description: 'Tweak the way you reach out to connect authentically, and have more productive conversations.',
        icon: 'flat-color-icons:voice-presentation',
      },
      {
        title: 'Email Templates Galore',
        description: 'Comprehensive email templates for job seekers, including hiring manager emails and silver-bullet thank you emails.',
        icon: 'flat-color-icons:document',
      },
      {
        title: 'Target Better Companies',
        description: 'Discover new companies to target that align with your career goals, saving time on research.',
        icon: 'flat-color-icons:template',
      },
      {
        title: 'Level-Up Interview Prep',
        description: 'Get lightning-fast company research, customized interview questions and prep with a proven framework.',
        icon: 'flat-color-icons:document',
      },
      {
        title: 'Optimize Your LinkedIn',
        description: 'Optimize your LinkedIn profile with AI-generated headlines and a compelling “About Me” summary.',
        icon: 'flat-color-icons:gallery',
      },
      {
        title: 'Counter Objections',
        description: 'Pinpoint potential employer concerns and develop strategies to counter them, improving your candidacy.',
        icon: 'flat-color-icons:high-priority',
      }
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2>

  <!-- HighlightedPosts Widget ******* -->

  <!-- <BlogLatestPosts
    title="Find out more content in our Blog"
    information={`The blog is used to display AstroWind documentation.
                        Each new article will be an important step that you will need to know to be an expert in creating a website using Astro + Tailwind CSS.
                        Astro is a very interesting technology. Thanks.
                `}
  /> -->

  <!-- FAQs Widget ******************* -->


  <Prices
  id="pricing"
  title="Choose Your Own Adventure"
  subtitle="We're here to support you however it works for you."
  prices={[
    {
      title: 'Monthly Membership',
      subtitle: ', ',
      price: 49,
      period: 'per month',
      items: [
        {
          description: 'Weekly group coaching & training',
        },
        {
          description: 'Community support & accountability',
        },
        {
          description: 'Templates, scripts, and resources',
        },
        {
          description: 'Email templates and tools',
        },
      ],
      callToAction: {
        target: '_blank',
        text: 'Join Monthly Plan',
        href: 'https://community.joinclearcareer.com/checkout/monthly-community-membership',
        buttonsubtext: 'Just $49/month - Cancel Anytime '
      },
    },
    {
      title: 'Lifetime Membership',
      subtitle: 'Looking for long-term growth',
      price: 249,
      period: 'one-time payment',
      items: [
        {
          description: 'Weekly group coaching & training',
        },
        {
          description: 'Community support & accountability',
        },
        {
          description: 'Templates, scripts, and resources',
        },
        {
          description: 'Email templates and tools',
        },
        {
          description: 'Lifetime access to all features',
        },
      ],
      callToAction: {
        target: '_blank',
        text: 'Join Lifetime Plan',
        href: 'https://community.joinclearcareer.com/checkout/lifetime-membership',
        buttonsubtext: '(30-Day Satisfaction Guarantee)'
      },
      hasRibbon: true,
      ribbonTitle: 'Best Value',
    },
  ]}
/>
/>
  <FAQs
    title="Frequently Asked Questions"
    subtitle="Explore these common questions to learn more about how ClearCareer Group Coaching can transform your job search journey."
    tagline="FAQs"
    classes={{ container: 'max-w-6xl' }}
    items={[
      {
        title: 'What is ClearCareer Group Coaching?',
        description:
          'ClearCareer Group Coaching is a supportive and strategic community designed to help job seekers elevate their careers through personalized coaching, practical tools, and a network of like-minded professionals.',
      },
      {
        title: 'How much does the program cost?',
        description:
          'The program costs $49 per month, which includes access to all online content, weekly group calls, community support, referrals, networking opportunities, and accountability features.',
      },
      {
        title: 'What happens in the weekly group calls?',
        description:
          'Weekly 1-hour sessions cover resume building, interview prep, salary negotiation, and networking strategies. These sessions also provide a platform for members to share their experiences, ask questions, and receive feedback.',
      },
      {
        title: 'How does the online community work?',
        description:
          'The online community is a private, supportive space where members can share wins, tips, tools, and resources, ask questions, and connect with other job seekers. It\'s active and encouraging, providing ongoing support throughout your job search.',
      },
      {
        title: 'What kind of results can I expect?',
        description:
          'Members have reported significant career advancements, including landing job offers, negotiating higher salaries, and successful career transitions. The personalized guidance and community support help members achieve tangible results.',
      },
      {
        title: 'Can I cancel my membership?',
        description:
          'Yes, you can cancel your membership at any time. There are no long-term commitments, and you can manage your subscription directly through your account settings.',
      },
    ]}
/>

  <!-- Stats Widget ****************** -->

<Stats
stats={[
  { title: 'Avg. Salary Gain', amount: '$10K' },
  { title: 'Top Salary Gain', amount: '$30K' },
  { title: 'Alum', amount: '100+' },
  // { title: 'Avg. Time to Interview', amount: '3 weeks' },
]}
/>
  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Yes, I want to ignite my job search', 
        href: '#pricing',
        icon: 'tabler:rocket',
      },
    ]}
  >
    <Fragment slot="title">
        Join the ClearCareer Community Today<br class="block sm:hidden" /><span class="sm:whitespace-nowrap"></span>
    </Fragment>

    <Fragment slot="subtitle">
        Shatter the cycle of rejections. Reclaim your self-worth with ClearCareer! <br class="hidden md:inline" />Don't wait any longer to transform your career!
    </Fragment>
   
</Layout>
